{% extends "base.html" %}
{% block head %}
{% endblock head %}
{% block pagetitle %}
    Smile Detection
{% endblock pagetitle %}
<!-- ------------------------------------------------------------------------- -->
<!-- ------------------------------------------------------------------------- -->
<!-- ------------------------------------------------------------------------- -->
{% block main %}
    <style>
        video {
            -webkit-transform: scaleX(-1);
            transform: scaleX(-1);
        }
    </style>
    <div class="row col-lg-10 col-md mx-auto">
        <p class="lead text-muted">Turn on the camera and detect smiley faces</p>
    </div>
    <div id="container">
        <video autoplay="true" id="videoElement", width="720" height="560">
        </video>
        <div id="smile" style="position: absolute;">???</div>
    </div>
    <script>
    
        const delay = 5000;
        const video = document.querySelector("#videoElement");
        
        Promise.all([
            faceapi.nets.tinyFaceDetector.loadFromUri('../static/models'),
        ]).then(startVideo)

        function startVideo() {
            navigator.mediaDevices.getUserMedia({ video: true })
            .then(function (stream) {
            video.srcObject = stream;
            })
            .catch(function (err0r) {
            console.log("Something went wrong!");
            });
        }

        video.addEventListener('playing', () => {
            const canvas = faceapi.createCanvasFromMedia(video)
            const displaySize = { width: video.width, height: video.height }
            faceapi.matchDimensions(canvas, displaySize)
            setInterval(async () => {
                const detections = await faceapi.detectSingleFace(video, new faceapi.TinyFaceDetectorOptions())
                const resizedDetections = faceapi.resizeResults(detections, displaySize)
                console.log(resizedDetections._box);
                // _height, _width, _x, _y
            }, delay)
        })
    </script>
{% endblock main %}
<!-- ------------------------------------------------------------------------- -->
<!-- ------------------------------------------------------------------------- -->
<!-- ------------------------------------------------------------------------- -->
{% block footer %}
{% endblock footer %}
